# IOTA

IOTA_NODE_URL="https://api.testnet.shimmer.network"
IOTA_FAUCET_URL="https://faucet.testnet.shimmer.network/api/enqueue"
IOTA_EXPLORER_URL="https://explorer.shimmer.network/testnet"

# Application

FRONTEND="http://localhost:5174"
PORT=1234

# Smart Contract Platform
SHIMMER_JSON_RPC_URL="https://json-rpc.evm.testnet.shimmer.network"
LOCAL_JSON_RPC_URL="http://127.0.0.1:8545/"
#CUSTOM_JSON_RPC_URL="https://sepolia.infura.io/v3/<API_KEY>""